* {
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    /*background-image: linear-gradient(45deg, #243754, #29446e, #5e7aa6);*/
    background: linear-gradient(45deg, rgba(50, 71, 141, 0.96), rgba(92, 106, 168, 0.84), rgba(71, 48, 166, 0.94));
    width: 100vw;
    height: 100vh;

    /*background-color: linear-gradient(#243754, #29446e);*/
}

.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 700px;
    background: rgba(18, 91, 171, 0.7);
    border-radius: 60px;
    box-shadow: 7px 7px 7px 3px rgba(0, 0, 0, 0.32);
}

.header {
    font-size: 35pt;
    margin: auto;
    background: -webkit-linear-gradient(60deg, #1e418c, #381c85, #533d91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.input {
    width: 500px;
    height: 40px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: rgba(134, 136, 141, 0.66);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 12pt;
    text-decoration-color: #1e418c;
}
::placeholder {
    color: #1a49ff;
}

.submitBtn {
    height: 90px;
    width: 350px;
    margin: auto;
    border: none;
    border-radius: 30px;
    background: -webkit-linear-gradient(60deg, #712896, #3f326b, #2411ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25pt;
    transition: 1s;
}

.submitBtn:hover {
    border: 2px solid #3f3c80;
    color: white;
    transition: 1s;
    font-size: 24pt;
}